/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Caret Breadcrumb */
.breadcrumb-caret .breadcrumb-item+.breadcrumb-item::before {
    content: '\f0da';
    font-family: 'FontAwesome';
  }
  
  /* Bullet */
  .breadcrumb-bullet .breadcrumb-item+.breadcrumb-item::before {
    content: '•';
  }
  
  /* Arrow Breadcrumb */
  .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: '';
  }
  
  .breadcrumb-arrow {
    height: 40px;
    line-height: 40px;
  }
  
  .breadcrumb-arrow .breadcrumb-item:first-child a {
    border-radius: 5px 5px 5px 5px;
  }
  
  .breadcrumb-arrow .breadcrumb-item,
  .breadcrumb-arrow .breadcrumb-item a,
  .breadcrumb-arrow .breadcrumb-item span {
    display: inline-block;
    vertical-align: top;
  }
  
  .breadcrumb-arrow .breadcrumb-item:not(:first-child) {
    margin-left: -1px;
  }
  
  .breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
    padding: 0;
    content: "";
  }
  
  .breadcrumb-arrow .breadcrumb-item a,
  .breadcrumb-arrow .breadcrumb-item.active {
    height: 40px;
    padding: 0 10px 0 25px;
    line-height: 40px;
  }
  
  .breadcrumb-arrow .breadcrumb-item a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
  }
  
  .breadcrumb-arrow .breadcrumb-item a:after,
  .breadcrumb-arrow .breadcrumb-item a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  
  .breadcrumb-arrow .breadcrumb-item a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px;
  }
  
  .breadcrumb-arrow .breadcrumb-item a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be;
  }
  
  .breadcrumb-arrow .breadcrumb-item a:focus,
  .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9;
  }
  
  .breadcrumb-arrow .breadcrumb-item a:focus:before,
  .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9;
  }
  
  .breadcrumb-arrow li.active:after,
  .breadcrumb-arrow li.active:before {
    border-left-color: #2494be;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  body {
    min-height: 100vh;
    background-color: #eee;

  }
  
  .text-uppercase {
    letter-spacing: 0.3em;
    font-size: 0.5cm;
  }
  .text-name {
    letter-spacing: 0.1em;
    font-size: 0.55cm;
  }
  .text-count {
    letter-spacing: 0.1em;
    font-size: 0.55cm;
  }