<!--StopWatch-->
html {
	height: 100%;
	font-family: "Roboto Condensed", sans-serif;
  }
  
  /*body {
	height: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#2D882D, #2E4272);
  }*/
  
  .container {
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);*/
	/*position: fixed;*/
	padding: 15px;
	border-radius: 5px;
	box-sizing: border-box;
  }
  
  .screen {
	margin: 0;
	color: #061539;
	font-size: 64px;
	border-radius: 5px;
	padding: 10px;
	cursor: default;
	user-select: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }
  
  .screen span {
	display: inline-block;
	width: 85px;
	text-align: center;
  }
  
  .buttons {
	display: flex;
	margin: 10px -5px 0;
  }
  
  .buttons button {
	flex: 1;
	margin: 0 5px;
	border: none;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color: #061539;
	background-color: yellow;
	outline: none;
	cursor: pointer;
  }
  
  .buttons button:hover {
	color: yellow;
	background-color: blue;
  }
<!--StopWatch-->

h1 {
    text-align: center;
    font-size: 60px;
}

h1 span:nth-child(1) {
    color: blue;
}
h1 span:nth-child(2) {
    color: blue;
}
h1 span:nth-child(3) {
    color: blue;
}
h1 span:nth-child(4) {
    color: blue;
}
h1 span:nth-child(5) {
    color: blue;
}

div{
	text-align: center;
	font-size: 35px;
}

body {
	font: 24px/30px 'Noto Sans CJK KR', Noto Sans KR, sans-serif
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
 .frame {
	 position: absolute;
	 /*position: relative;*/
	 top: 50%;
	 left: 70%;
	 width: 350px;
	 height: 550px;
	 margin-top: -500px;
	 margin-left: 100px;
	 border-radius: 2px;
	 /*box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);*/
	 overflow: hidden;
	 /*background: #28404e;
	 background: -moz-linear-gradient(top, #28404e 0%, #1c2e38 100%);
	 background: -webkit-linear-gradient(top, #28404e 0%, #1c2e38 100%);
	 background: linear-gradient(to bottom, #28404e 0%, #1c2e38 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28404e', endColorstr='#1c2e38',GradientType=0);*/
	 color: black;
	 font-family: 'Open Sans', Helvetica, sans-serif !important;
	 -webkit-font-smoothing: antialiased !important;
	 -moz-osx-font-smoothing: grayscale !important;
}
 .center {
	 position: absolute;
	 /*position: relative;*/
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .headline {
	 font-weight: 600;
	 font-size: 30px;
	 text-transform: uppercase;
	 text-align: center;
	 line-height: 22px;
}
 


.headline .small {
	 font-weight: 300;
	 font-size: 16px;
}
 .circle-big {
	 /*position: relative;*/
	 position: absolute;
	 width: 114px;
	 height: 114px;
	 margin: 30px auto 25px auto;
}
 .circle-big svg {
	 width: 114px;
	 height: 114px;
}
 .circle-big .bg {
	 fill: none;
	 stroke-width: 10px;
	 stroke: #1b2a33;
}
 .circle-big .progress {
	 fill: none;
	 /*stroke-width: 10px;*/
	 /*stroke: #27e1ae;*/
	 /*stroke-linecap: round;
	 stroke-dasharray: 326.56;
	 stroke-dashoffset: 327;*/
	 transform: rotate(-90deg);
	 transform-origin: 50% 50%;
	 animation: big 1.5s ease-out;
}
 .circle-big .text {
	 position: absolute;
	 /*position: relative;*/
	 width: 100%;
	 top: 37px;
	 font-size: 40px;
	 text-align: center;
	 font-weight: 400;
	 line-height: 22px;
}
 .circle-big .text .small {
	 font-size: 14px;
	 color: #648192;
}
 .circles-small {
	 margin: 0 auto;
	 width: 400px;
	 height: 80px;
	 text-align: center;
}
 .circle-small {
	 display: inline-block;
	 /*position: relative;*/
	 position: absolute;
	 width: 80px;
	 height: 80px;
	 margin: 0 20px;
}
 .circle-small svg {
	 width: 80px;
	 height: 80px;
}
 .circle-small .bg {
	 fill: none;
	 stroke-width: 6px;
	 stroke: #1b2a33;
}
 .circle-small .progress {
	 fill: none;
	 stroke-width: 6px;
	 stroke: #5ce1ec;
	 stroke-linecap: round;
	 stroke-dasharray: 232.36;
	 transform: rotate(-90deg);
	 transform-origin: 50% 50%;
}
 .circle-small .progress.one {
	 stroke-dashoffset: 80;
	 animation: one 1.5s ease-out;
}
 .circle-small .progress.two {
	 stroke-dashoffset: 140;
	 animation: two 1.5s ease-out;
}
 .circle-small .text {
	 position: absolute;
	 /*position: relative;*/
	 width: 100%;
	 top: 26px;
	 font-size: 17px;
	 text-align: center;
	 font-weight: 400;
	 line-height: 16px;
}
 .circle-small .text .small {
	 font-size: 12px;
	 color: #648192;
}